html, head, body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
  color: white;
  background: rgb(24, 24, 24);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 50%;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}

.main > * {
  flex-basis: 100%;
  background: var(--secondary-color);
  padding: 5px;
  border: 5px solid var(--secondary-color);
  border-radius: 15px;
  margin: 5px 5px;
  box-shadow: 5px 5px 20px var(--secondary-color);
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 3rem !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.credits{
  color: white;
  text-align: center;
}
.credits a:link{
  color: rgb(121, 121, 255);
}
.credits a:visited{
  color: rgb(121, 121, 255);
}